# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Build / packaging
*.egg-info/
dist/
build/

# GCP / credentials
*.json
.env

# OS
.DS_Store
Thumbs.db

# Notebooks
notebooks/
.ipynb_checkpoints/

# Private settings
src/config/private_settings.py